name: "Checks"
on:
  - pull_request

jobs:
  build:
    name: "Test"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      NODE_URL: ${{ secrets.NODE_URL }}
      NODE_TOKEN: ${{ secrets.NODE_TOKEN }}
      SEED: ${{ secrets.SEED }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16.13.0'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn install
      - name: Test
        run: yarn test
